    <div class="flex items-center justify-center">
        <div class="w-[90%]">
            <div class="bg-gray-900 rounded-2xl">
                <div class="p-6 text-center">
                    <div class="text-4xl p-6 font-semibold tracking-tight text-white">Statistics Overview</div>
                    <p class="text-sm font-medium leading-6 text-gray-400">Our performance in numbers</p>
                </div>
                <div class="p-14 mx-auto max-w-7xl text-center">
                  <div class="grid grid-cols-1 gap-px bg-white/5 sm:grid-cols-2 lg:grid-cols-3">
                    <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
                      <p class="text-sm font-medium leading-6 text-gray-400">Books available</p>
                      <p class="mt-2 flex items-center justify-center gap-x-2">
                        <span class="text-4xl font-semibold tracking-tight text-white">405+</span>
                      </p>
                    </div>
                    <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
                      <p class="text-sm font-medium leading-6 text-gray-400">Active Users</p>
                      <p class="mt-2 flex items-baseline justify-center gap-x-2">
                        <span class="text-4xl font-semibold tracking-tight text-white">1200000+</span>
                      </p>
                    </div>
                    <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
                      <p class="text-sm font-medium leading-6 text-gray-400">Swaps Done</p>
                      <p class="mt-2 flex items-baseline justify-center gap-x-2">
                        <span class="text-4xl font-semibold tracking-tight text-white">300</span>
                        <span class="text-sm text-gray-400">in 30 days</span>

                      </p>
                    </div>
                  </div>
                </div>
            </div>
              
        </div>
    </div>